*{
    margin: 0;
    padding: 0;
}


/* navigation  */

.navbar{
    padding-top: 0.3rem !important;
}


@media (min-width:950px){
    .nav-end{
        display: flex !important;
        justify-content: right !important; 
    }
}

 @media(max-width : 950px){
        .navbar-nav{
            margin: 0% 1% 0% 1% !important;
            padding: 2% 0% 2% 0% !important;
            background-color: rgb(11, 13, 92);
            text-align: center;
            text-decoration: none !important;
        }
    }

    @media(max-width : 950px){
        .navbar-light .navbar-nav .nav-link{
            color: rgb(255, 255, 255);
        }
        .navbar-light .navbar-nav .nav-link.active{
            color: rgb(255, 255, 255);
        }
    }

    @media(min-width : 950px){
        .navbar-light .navbar-nav .nav-link{
            color: rgb(0, 0, 0);
        }
        .navbar-light .navbar-nav .nav-link.active{
            color: rgb(0, 0, 0);
        }
    }


    .navbar-nav a{
        border: 1px;
        border-radius: 55px;
        padding: 5px 25px 5px 25px !important;
        margin-right: 10px;
   }
@media(min-width:950px) {
    .navbar-nav a:hover{
          
         background-color: rgb(255, 0, 0);
         border: 1px;
         border-radius: 55px;
         padding: 5px 25px 5px 25px !important;
         margin-right: 10px;
         font-weight: bold !important;
    }
}

/* navigation  */
.top-sec-1{
    height: 55rem;
    width: 100%;
}

.background-img{
    background-image: url('assets/img/Frame\ 1.png');  
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.background-img{
    height: 100%;
    width: 100%;
}

.heading{
    display: flex;
    justify-content: left;
    padding: 15% 0% 2% 10%;
}


.top-para{
    padding: 0% 50% 1% 10%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-para:hover{
    overflow: visible;
    white-space: pre-wrap;
}

@media(max-width: 700px){
    .top-para{
        display: block;
        visibility: hidden;  
    }
}

.top-btn{
    margin: 0% 50% 5% 10%;
    border: 3px solid transparent;
    border-radius: 45px;
    padding: 5px 25px 5px 25px;
}
@media(max-width:700px){
    .top-btn{
       display: block;
       visibility: hidden;
    }
}

.top-btn a{
    text-decoration: none;
    color: #ffffff;
}

.text-color{
    color: red;
}

h1{
    font-size: 2.5em;
}

@media (max-width:768px){
    h1{
        font-size: 1.0em;
    }
}

/* ***************** footer css ************** */

ul {
    list-style-type: none;
}

.block-center {
    line-height: 2;
    text-align: center;
    margin: auto;
}

h3 {
    font-weight: 600;
    color: blue;
    margin-bottom: 20px;
}

.footer-col4 {
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
}

.footer-col4 a {
    padding-left: 5px;
}

.footer-col1 p {
    /* width: 90%; */
    text-align: left;
    margin: auto;
    font-size: 1rem;
    padding: 5%;
}

@media screen and (min-width: 991px) {
    .footer-column1 {
        width: 35%;
    }
    .footer-column2 {
        width: 20%;
    }
    .footer-column4 {
        width: 25%;
    }
    .footer-col4 {
        text-align: left;
    }
}

