*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: repeat;
    background-size: 100% auto;
}

.greeting{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #15138b;
    margin-left: 15px;
    font-family: sans-serif ;
}

.greeting:hover{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #fd0000;
    margin-left: 15px;
}


/* navigation  */

.navbar{
    padding-top: 0.3rem !important;
}


@media (min-width:950px){
    .nav-end{
        display: flex !important;
        justify-content: right !important; 
    }
}

 @media(max-width : 950px){
        .navbar-nav{
            margin: 0% 1% 0% 1% !important;
            padding: 2% 0% 2% 0% !important;
            background-color: rgb(11, 13, 92);
            text-align: center;
            text-decoration: none !important;
        }
    }

    @media(max-width : 950px){
        .navbar-light .navbar-nav .nav-link{
            color: rgb(255, 255, 255);
        }
        .navbar-light .navbar-nav .nav-link.active{
            color: rgb(255, 255, 255);
        }
    }

    @media(min-width : 950px){
        .navbar-light .navbar-nav .nav-link{
            color: rgb(0, 0, 0);
        }
        .navbar-light .navbar-nav .nav-link.active{
            color: rgb(0, 0, 0);
        }
    }


    .navbar-nav a{
        border: 1px;
        border-radius: 55px;
        padding: 5px 25px 5px 25px !important;
        margin-right: 10px;
   }
@media(min-width:950px) {
    .navbar-nav a:hover{
          
         background-color: rgb(255, 0, 0);
         border: 1px;
         border-radius: 55px;
         padding: 5px 25px 5px 25px !important;
         margin-right: 10px;
         font-weight: bold !important;
    }
}

/* navigation  */
.top-sec-1{
    height: 59rem;
    width: 100%;
}
@media (max-width:1028px){
    .top-sec-1{
        height: fit-content;
        width: 100%;
    }
}


.background-img{
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.background-img{
    height: 100%;
    width: 100%;
}

.welcomeScript{
    display: flex;
    justify-content: left;
    padding: 18% 0% 0% 9%;
}

.heading{
    display: flex;
    justify-content: left;
    padding: 0% 0% 1% 10%;
}


.top-para{
    padding: 1% 50% 1% 10%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-para:hover{
    overflow: visible;
    white-space: pre-wrap;
}

@media(max-width: 700px){
    .top-para{
        display: block;
        visibility: hidden;  
    }
}

.top-btn{
    margin: 1% 50% 5% 10%;
    border: 3px solid transparent;
    border-radius: 45px;
    padding: 5px 25px 5px 25px;
}
@media(max-width:700px){
    .top-btn{
       display: block;
       visibility: hidden;
    }
}

.top-btn a{
    text-decoration: none;
    color: #ffffff;
}

.text-color{
    color: red;
}

h1{
    font-size: 2.5em;
}

@media (max-width:768px){
    h1{
        font-size: 1.0em;
    }
}


/* what do we do */

.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
}


.task{
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    overflow: hidden;
    margin-left: 70px;
}

.item{
    height: 250px;
    width: 220px;
    border: #ffffff 1px solid;
    border-radius: 10px;
    margin: 8px;
    background-color: #ffffff;
    box-shadow: #ffffff 0 0 2px;
}

.item img{
    width: 60px;
    height: auto;
}

.mini-icon{
    display: flex;
    justify-content: center;
    margin: 15px;
}


.box-title{
    text-align: center;
    font-size: 1rem;
    font-weight: 650;
    padding: 2px;
    margin: 10px;
}

.item p{
    text-align: center;
    font-size: 0.7rem;
    font-weight: 450;
    margin: 9px;
}

.item .btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn a{
    text-decoration: none;
    font-weight: 790;
}

.text-color-tile{
    color: rgb(1, 53, 150);
}

.text-color-tile:hover{
    color: rgb(240, 0, 0);
    font-size: 16.5px;
}

/* 
<div class="task-detail">
                <h3 class="text-color">What do we do</h3>
                <h2>Choose what you like <br> Our <span class="text-color">Best Service</span></h2>
            </div> */



.task-detail{
    width: 50%;
    margin-top: 30px;
}

.content-detail{
    display: flex;
    justify-content: left !important;
}

.content-detail ul li h3{
    font-weight: 640;
}

.content-detail h2{
    font-weight: 750;
}

.para-content{
    text-align: left;
    margin-left: 35px;
    margin-right: 45px;
    font-size: 0.9rem;
    font-weight: 450;
}

.task-detail button{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 3px 40px 3px 40px;
    background-color: rgb(240, 0, 0);
    margin-left: 34px;
    margin-top: 15px;
}

.task-detail button:hover{
    border: 1px solid #ffe600;
    border-radius: 20px;
    padding: 4px 41px 4px 41px;
    background-color: rgb(255, 238, 0);
    margin-left: 34px;
    margin-top: 15px;
}

.task-detail button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 650;
}

.task-detail button a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 650;
    font-size: 16px;
}

/* what do we do */









































/* ***************** footer css ************** */

.footer-row{
    display: flex;
    justify-content: baseline;
    margin-top: 10rem;
}


ul {
    list-style-type: none;
}

.block-center {
    line-height: 2;
    text-align: center;
    margin: auto;
}

h3 {
    font-weight: 600;
    color: blue;
    margin-bottom: 20px;
}

.footer-col4 {
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
}

.footer-col4 a {
    padding-left: 5px;
}

.footer-col1 p {
    /* width: 90%; */
    text-align: left;
    margin: auto;
    font-size: 1rem;
    padding: 5%;
}

@media screen and (min-width: 991px) {
    .footer-column1 {
        width: 35%;
    }
    .footer-column2 {
        width: 20%;
    }
    .footer-column4 {
        width: 25%;
    }
    .footer-col4 {
        text-align: left;
    }
}

